@model Decrypto.Models.GameRound

@{
    ViewBag.Title = "Home Page";
}

<h2>Clue</h2>
@using (Html.BeginForm("Guess", "Home"))
{
<div class="container">
    <div class="row">
        <div class="col-sm-auto">
            <div class="btn-group btn-group-toggle" id="cluegroup" data-toggle="buttons">
                <label class="btn btn-secondary">
                    @Html.RadioButtonFor(model => model.Clue1.Word, 1) 1
                </label>
                <label class="btn btn-secondary">
                    @Html.RadioButtonFor(model => model.Clue1.Word, 2) 2
                </label>
                <label class="btn btn-secondary">
                    @Html.RadioButtonFor(model => model.Clue1.Word, 3) 3
                </label>
                <label class="btn btn-secondary">
                    @Html.RadioButtonFor(model => model.Clue1.Word, 4) 4
                </label>
            </div>
        </div>
        <div class="col">
            @Html.TextBoxFor(model => model.Clue1.Hint, new { style = "width:100%;max-width:700px;" })
        </div>
    </div>
    <div class="row">
        <div class="col">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-light" id="btnHide" onclick='doJavascript(); return false;'>Toggle visibility</button>
        </div>
        <div class="col text-right">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
    @Html.HiddenFor(model => model.Id)
}
@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        var visible = true;
        function doJavascript() {
            if (visible) {
                $("#cluegroup").hide("fast");
            } else {
                $("#cluegroup").show("fast");
            }
            visible = !visible;
        }
    </script>

}
